<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gropie-tracker</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <nav>
        <a href="/">
            <h1>GROUPIE-TRACKER</h1>
        </a>
    </nav>

    <main>
        <div class="error"> 
            <h1 class="center">OOPS... SOMETHING WENT WRONG</h1>
            <p class="center">Error code {{.ErrorNum}}<br>{{.ErrorMessage}}</p>
            <p class="center"></p>
            <a class="center" href="/">
                <button>GO BACK</button>
            </a>
        </div>   
    </main>

    <footer>
        <p>Authors: Gadylbek & yotarov</p>
    </footer> 
</body>
</html>